<div class="stars">
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
  <div class="star"></div>
</div>

<style>
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;
}

.stars {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
  z-index: -10;
}

.star {
  --star-color: var(--primary-color);
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 6.66em;
  --top-offset: 3.77vh;
  --fall-duration: 6.916s;
  --fall-delay: 0.76s;
}
.star:nth-child(2) {
  --star-tail-length: 6.02em;
  --top-offset: 65.6vh;
  --fall-duration: 7.396s;
  --fall-delay: 0.395s;
}
.star:nth-child(3) {
  --star-tail-length: 5.56em;
  --top-offset: 76.53vh;
  --fall-duration: 8.219s;
  --fall-delay: 6.755s;
}
.star:nth-child(4) {
  --star-tail-length: 5.25em;
  --top-offset: 7.85vh;
  --fall-duration: 6.088s;
  --fall-delay: 2.449s;
}
.star:nth-child(5) {
  --star-tail-length: 6.38em;
  --top-offset: 5.62vh;
  --fall-duration: 6.466s;
  --fall-delay: 3.706s;
}
.star:nth-child(6) {
  --star-tail-length: 5.49em;
  --top-offset: 94.94vh;
  --fall-duration: 8.193s;
  --fall-delay: 8.658s;
}
.star:nth-child(7) {
  --star-tail-length: 5.89em;
  --top-offset: 73.96vh;
  --fall-duration: 7.505s;
  --fall-delay: 9.023s;
}
.star:nth-child(8) {
  --star-tail-length: 7.13em;
  --top-offset: 83.55vh;
  --fall-duration: 9.928s;
  --fall-delay: 5.934s;
}
.star:nth-child(9) {
  --star-tail-length: 5.13em;
  --top-offset: 15.9vh;
  --fall-duration: 10.414s;
  --fall-delay: 6.146s;
}
.star:nth-child(10) {
  --star-tail-length: 6.21em;
  --top-offset: 40.46vh;
  --fall-duration: 6.16s;
  --fall-delay: 1.182s;
}
.star:nth-child(11) {
  --star-tail-length: 7.12em;
  --top-offset: 71.19vh;
  --fall-duration: 7.202s;
  --fall-delay: 3.467s;
}
.star:nth-child(12) {
  --star-tail-length: 7.15em;
  --top-offset: 16.12vh;
  --fall-duration: 9.441s;
  --fall-delay: 6.811s;
}
.star:nth-child(13) {
  --star-tail-length: 7.36em;
  --top-offset: 1.59vh;
  --fall-duration: 7.471s;
  --fall-delay: 9.891s;
}
.star:nth-child(14) {
  --star-tail-length: 5.51em;
  --top-offset: 25.05vh;
  --fall-duration: 11.659s;
  --fall-delay: 8.875s;
}
.star:nth-child(15) {
  --star-tail-length: 6.83em;
  --top-offset: 46.06vh;
  --fall-duration: 6.505s;
  --fall-delay: 8.112s;
}
.star:nth-child(16) {
  --star-tail-length: 6.26em;
  --top-offset: 61.2vh;
  --fall-duration: 9.492s;
  --fall-delay: 0.694s;
}
.star:nth-child(17) {
  --star-tail-length: 6.8em;
  --top-offset: 22.26vh;
  --fall-duration: 6.429s;
  --fall-delay: 2.867s;
}
.star:nth-child(18) {
  --star-tail-length: 6.31em;
  --top-offset: 15.73vh;
  --fall-duration: 6.141s;
  --fall-delay: 3.534s;
}
.star:nth-child(19) {
  --star-tail-length: 5.84em;
  --top-offset: 71.19vh;
  --fall-duration: 9.177s;
  --fall-delay: 2.325s;
}
.star:nth-child(20) {
  --star-tail-length: 7.5em;
  --top-offset: 96.09vh;
  --fall-duration: 8.191s;
  --fall-delay: 4.795s;
}
.star:nth-child(21) {
  --star-tail-length: 5em;
  --top-offset: 43.49vh;
  --fall-duration: 11.989s;
  --fall-delay: 3.1s;
}
.star:nth-child(22) {
  --star-tail-length: 5.19em;
  --top-offset: 84.4vh;
  --fall-duration: 10.707s;
  --fall-delay: 8.976s;
}
.star:nth-child(23) {
  --star-tail-length: 6.57em;
  --top-offset: 77.71vh;
  --fall-duration: 11.667s;
  --fall-delay: 2.428s;
}
.star:nth-child(24) {
  --star-tail-length: 6.83em;
  --top-offset: 43.04vh;
  --fall-duration: 9.721s;
  --fall-delay: 3.973s;
}
.star:nth-child(25) {
  --star-tail-length: 6.21em;
  --top-offset: 16.77vh;
  --fall-duration: 11.717s;
  --fall-delay: 1.313s;
}
.star:nth-child(26) {
  --star-tail-length: 7.4em;
  --top-offset: 12.6vh;
  --fall-duration: 8.66s;
  --fall-delay: 9.944s;
}
.star:nth-child(27) {
  --star-tail-length: 6.59em;
  --top-offset: 96.4vh;
  --fall-duration: 10.57s;
  --fall-delay: 5.588s;
}
.star:nth-child(28) {
  --star-tail-length: 6.57em;
  --top-offset: 24.2vh;
  --fall-duration: 8.584s;
  --fall-delay: 4.876s;
}
.star:nth-child(29) {
  --star-tail-length: 6.91em;
  --top-offset: 98.35vh;
  --fall-duration: 7.029s;
  --fall-delay: 3.402s;
}
.star:nth-child(30) {
  --star-tail-length: 6.19em;
  --top-offset: 76.19vh;
  --fall-duration: 8.432s;
  --fall-delay: 6.658s;
}
.star:nth-child(31) {
  --star-tail-length: 5.56em;
  --top-offset: 7.91vh;
  --fall-duration: 10.539s;
  --fall-delay: 9.115s;
}
.star:nth-child(32) {
  --star-tail-length: 7.35em;
  --top-offset: 94.15vh;
  --fall-duration: 9.06s;
  --fall-delay: 7.269s;
}
.star:nth-child(33) {
  --star-tail-length: 5.38em;
  --top-offset: 18.3vh;
  --fall-duration: 7.986s;
  --fall-delay: 0.352s;
}
.star:nth-child(34) {
  --star-tail-length: 7.38em;
  --top-offset: 75.26vh;
  --fall-duration: 6.923s;
  --fall-delay: 6.02s;
}
.star:nth-child(35) {
  --star-tail-length: 7.28em;
  --top-offset: 11.34vh;
  --fall-duration: 9.627s;
  --fall-delay: 9.296s;
}
.star:nth-child(36) {
  --star-tail-length: 5.2em;
  --top-offset: 68.6vh;
  --fall-duration: 10.255s;
  --fall-delay: 9.934s;
}
.star:nth-child(37) {
  --star-tail-length: 6.39em;
  --top-offset: 98.03vh;
  --fall-duration: 7.874s;
  --fall-delay: 4.749s;
}
.star:nth-child(38) {
  --star-tail-length: 5.24em;
  --top-offset: 18.46vh;
  --fall-duration: 6.1s;
  --fall-delay: 3.474s;
}
.star:nth-child(39) {
  --star-tail-length: 7.22em;
  --top-offset: 73.17vh;
  --fall-duration: 8.62s;
  --fall-delay: 6.832s;
}
.star:nth-child(40) {
  --star-tail-length: 5.28em;
  --top-offset: 67.13vh;
  --fall-duration: 7.023s;
  --fall-delay: 5.88s;
}
.star:nth-child(41) {
  --star-tail-length: 5.6em;
  --top-offset: 75.39vh;
  --fall-duration: 7.522s;
  --fall-delay: 8.336s;
}
.star:nth-child(42) {
  --star-tail-length: 5.22em;
  --top-offset: 65.29vh;
  --fall-duration: 11.225s;
  --fall-delay: 7.331s;
}
.star:nth-child(43) {
  --star-tail-length: 7.47em;
  --top-offset: 9.61vh;
  --fall-duration: 9.557s;
  --fall-delay: 7.964s;
}
.star:nth-child(44) {
  --star-tail-length: 7.41em;
  --top-offset: 58.67vh;
  --fall-duration: 8.416s;
  --fall-delay: 6.211s;
}
.star:nth-child(45) {
  --star-tail-length: 6.52em;
  --top-offset: 30.84vh;
  --fall-duration: 9.3s;
  --fall-delay: 1.75s;
}
.star:nth-child(46) {
  --star-tail-length: 7.3em;
  --top-offset: 89.3vh;
  --fall-duration: 10.523s;
  --fall-delay: 8.841s;
}
.star:nth-child(47) {
  --star-tail-length: 6.56em;
  --top-offset: 31.48vh;
  --fall-duration: 8.642s;
  --fall-delay: 5.503s;
}
.star:nth-child(48) {
  --star-tail-length: 5.15em;
  --top-offset: 48.66vh;
  --fall-duration: 8.982s;
  --fall-delay: 0.981s;
}
.star:nth-child(49) {
  --star-tail-length: 5.38em;
  --top-offset: 16.84vh;
  --fall-duration: 9.861s;
  --fall-delay: 1.447s;
}
.star:nth-child(50) {
  --star-tail-length: 6.49em;
  --top-offset: 91.74vh;
  --fall-duration: 11.235s;
  --fall-delay: 6.491s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}
</style>

<center>



		<link rel="preload" href="./css/style.css" as="style">
		<link rel="preload" href="./css/radio.css" as="style">
		<link rel="stylesheet" href="./css/style.css">
		<link rel="stylesheet" href="./css/radio.css">
		<link rel="stylesheet" href="./css/fa.all.min.css">
		<link rel='shortcut icon' type="image/x-icon" href='./favicon.ico'>
		<link href="https://fonts.googleapis.com/css2?family=Exo+2&family=Lato&family=Montserrat&family=Ubuntu&family=IBM+Plex+Mono&display=swap" rel="stylesheet">

		<script>0</script>
		
		<!-- MagicD3VIL's Radio Player -->
			<div id="MagicPlayer" style="margin-top:20px;margin-bottom:20px;">
				<div id="playerInfo"><div id="playerInfoHeading">LIVE: &nbsp;</div><div id="playerInfoPlayingContainer"><span id="playerInfoPlaying" class="marquee"></span></div></div>
				<div id="playerMiddleLine"><p id="radioPlayer"><i onclick="radioPlayerPlay()" class="fa fa-play-circle"></i><i onclick="radioPlayerPause()" class="fa fa-pause-circle"></i><span class="span8">&nbsp;</span><input id="volume" type="range" min="0" max="100" step="1" oninput="setVolume(this.value)" onchange="setVolume(this.value)"><span class="span8">&nbsp;</span> 
				<div id="equaliser-container"> <ol class="equaliser-column"> <li class="colour-bar"></li> </ol> <ol class="equaliser-column"> <li class="colour-bar"></li> </ol> <ol class="equaliser-column"> <li class="colour-bar"></li> </ol> <ol class="equaliser-column"> <li class="colour-bar"></li> </ol> <ol class="equaliser-column"> <li class="colour-bar"></li> </ol></div>
				</div><div id="currentVolume"></div>
				<div id="playerBottomLine"><p id="playerRememberHelp"><span class="rememberHelp" title="If you check this box, next time when you load or refresh this page your set volume will remain the same."><input type="checkbox" id="rememberVolume" onclick="rememberCheck()"/> Remember volume</span></p>
				<audio id="radio" preload="none">Your browser does not support <code>&lt;audio&gt;</code> element</audio></div>
			</div>
		<!-- END MagicD3VIL's Radio Player -->
		
		<!-- SCRIPTS -->
			<script src="./js/jquery-3.4.1.min.js"></script>
			<script src="./js/jquery.modal.min.js"></script>
		
			<!-- MagicD3VIL's Radio Player -->
				<script>
					var rememberVolume = document.getElementById("rememberVolume");
					var radio = document.getElementById("radio");	
					var streamURL = "https://bsmifm.bsmiapp.repl.co/?" + getTime();
					var helpMoveTimer;
					var playerResizeTimer;
					var playerResizeTimer2;
					var currentlyPlayingTimer;
					
					var animationTimer;
					var animationTimerTime = 0;
					
					var w = 245 - $("#playerInfoHeading").width();
					$("#playerInfoPlaying").css("min-width", w);
					
					var d = new Date();
					var expireDays = 3650;
					d.setTime(d.getTime() + (expireDays*24*60*60*1000));
					var expires = "expires="+ d.toUTCString();
					
					function getTime() {
						var r = "?time=" + new Date().getTime();
						return r;
					}
					
					function getCookieValue(cname) {
					  var name = cname + "=";
					  var decodedCookie = decodeURIComponent(document.cookie);
					  var ca = decodedCookie.split(';');
					  for(var i = 0; i < ca.length; i++) {
						var c = ca[i];
						while (c.charAt(0) == ' ') {
						  c = c.substring(1);
						}
						if (c.indexOf(name) == 0) {
						  return c.substring(name.length, c.length);
						}
					  }
					  return "";
					}
					
					function getBoolRememberVolume() {
						var result = Number(getCookieValue("rememberVolume"));
						if (result == 1) {
							return true;
						} else {
							return false;
						}
					}
					
					function resetVolume() {
						if (!getBoolRememberVolume()){
							radio.volume = 0.95;
							document.getElementById("volume").value = "95";
							rememberVolume.checked = false;
						} else {
							var savedVolume = Number(getCookieValue("savedVolume"));
							radio.volume = savedVolume;
							document.getElementById("volume").value = String(savedVolume * 100);
							rememberVolume.checked = true;
						}
					}
					
					resetVolume();
					
					function getVolume() {
						if (!getBoolRememberVolume()){
							return 0.95;
						} else {
							return Number(getCookieValue("savedVolume"));
						}
					}
					
					function radioPlayerPause() {
							$("#radio").animate({volume: 0}, 2000);
							setTimeout(function(){
								radio.pause();
								radio.setAttribute("src", "");
								setTimeout(function() { 
									radio.load(); // This stops the stream from downloading
								});
							}, 2000);
							clearInterval(currentlyPlayingTimer);
							$(".fa-pause-circle").css("display", "none");
							$(".fa-play-circle").css("display", "initial");
							$("#equaliser-container").css("opacity", 0);
							$("#playerInfo").css("transition", "opacity 1s ease");
							$("#playerInfo").css("opacity", 0);
							$("#playerAbout").css("animation", "helpMoveClickPause 0.5s ease 1.5s");
							if ((animationTimerTime) >= 5 && (animationTimerTime <= 10)) {
								$("#playerClanhouseLogo").css("animation", "playerLogoFadeStopClan 3s");
								$("#playerJetstreamLogo").css("animation", "playerLogoFadeStopJet 3s 0s");
							} else {
								$("#playerClanhouseLogo").css("animation", "playerLogoFadeStop 3s");
								$("#playerJetstreamLogo").css("animation", "");
							}
							playerResizeTimer = setTimeout(function(){
								$("#playerMiddleLine").css("top", "-24px");
								$("#playerBottomLine").css("top", "-24px");
								$("#currentVolume").css("top", "-24px");
								$("#MagicPlayer").css("height", "76px");
							}, 1000);
							playerResizeTimer2 = setTimeout(function(){
								$("#MagicPlayer").css("width", "228px");
								$("#playerLogo").css("left", "0px");
							}, 1500);
							helpMoveTimer = setTimeout(function(){
								$("#playerAbout").css("left", "-22px");
							}, 2000);
							clearInterval(animationTimer);
							
							$(".equaliser-column:nth-child(1) .colour-bar").css("animation", "color-bar-paused 2s 1s ease-out alternate infinite");
							$(".equaliser-column:nth-child(2) .colour-bar").css("animation", "color-bar-paused 2s 0.5s ease-out alternate infinite");
							$(".equaliser-column:nth-child(3) .colour-bar").css("animation", "color-bar-paused 2s 1.5s ease-out alternate infinite");
							$(".equaliser-column:nth-child(4) .colour-bar").css("animation", "color-bar-paused 2s 0.375s ease-out alternate infinite");
							$(".equaliser-column:nth-child(5) .colour-bar").css("animation", "color-bar-paused 2s 2s ease-out alternate infinite");
					}
					
					function radioPlayerPlay() {
							clearTimeout(helpMoveTimer);
							clearTimeout(playerResizeTimer);
							clearTimeout(playerResizeTimer2);
							animationTimer = setInterval(currentAnimation, 1000);
							radio.setAttribute("src", streamURL);
							radio.load();
							radio.play();
							$("#radio").animate({volume: 0}, 0);
							$("#radio").animate({volume: getVolume()}, 2000);
							$(".fa-play-circle").css("display", "none");
							$(".fa-pause-circle").css("display", "initial");
							$("#playerAbout").css("animation", "helpMoveClickPlay 0.5s ease");
							$("#playerAbout").css("left", "0px");
							$("#equaliser-container").css("opacity", 1);
							$("#MagicPlayer").css("height", "100px");
							$("#MagicPlayer").css("width", "245px");
							$("#playerLogo").css("left", "17px");
							$("#playerMiddleLine").css("top", "0px");
							$("#playerBottomLine").css("top", "0px");
							$("#currentVolume").css("top", "0px");
							$("#playerInfo").css("transition", "opacity 3s ease-in");
							$("#playerInfo").css("opacity", 1);
							$("#playerClanhouseLogo").css("animation", "playerLogoFade 10s infinite");
							$("#playerJetstreamLogo").css("animation", "playerLogoFade 10s 5s infinite");
							currentlyPlaying();
							currentlyPlayingTimer = setInterval(currentlyPlaying, 10000);
							
							$(".equaliser-column:nth-child(1) .colour-bar").css("animation", "color-bar-playing 2s 1s ease-out alternate infinite");
							$(".equaliser-column:nth-child(2) .colour-bar").css("animation", "color-bar-playing 2s 0.5s ease-out alternate infinite");
							$(".equaliser-column:nth-child(3) .colour-bar").css("animation", "color-bar-playing 2s 1.5s ease-out alternate infinite");
							$(".equaliser-column:nth-child(4) .colour-bar").css("animation", "color-bar-playing 2s 0.375s ease-out alternate infinite");
							$(".equaliser-column:nth-child(5) .colour-bar").css("animation", "color-bar-playing 2s 2s ease-out alternate infinite");
					}
					
					function setVolume(val) {
						clearTimeout(fadeoutTimer);
						radio.volume = val / 100;
						if (getBoolRememberVolume()) {
							document.cookie = "savedVolume=" + radio.volume + ";" + expires + ";path=/;Secure";
						}
						$("#currentVolume").css("transition", "top 0.5s ease 0s, opacity 0.5s ease 0s");
						$("#currentVolume").css("opacity", 1);
						document.getElementById("currentVolume").innerHTML = "Volume: " + val + "%";
						var fadeoutTimer = setTimeout(function(){
							$("#currentVolume").css("transition", "top 0.5s ease 0s, opacity 2.5s cubic-bezier(.17,.84,.44,1) 2s");
							$("#currentVolume").css("opacity", 0);
						}, 500);
					}
					
					function rememberCheck() {
						if (rememberVolume.checked){
							document.cookie = "rememberVolume=1;" + expires + ";path=/;Secure";
							document.cookie = "savedVolume=" + radio.volume + ";" + expires + ";path=/;Secure";
						} else {
							document.cookie = "rememberVolume=0;" + expires + ";path=/;Secure";
						}
					}
					
					function currentlyPlaying() {
            currentSong = "Radio BSMI FM";
            $( "#playerInfoPlaying" ).text(currentSong);
						var songGetter = "./playing.php" + getTime();
						$.ajax({
							url: songGetter,
							dataType: "text",
							success: function(currentSong) {
								currentSong = currentSong.replaceAll('&amp;', '&');
								// sanitize the song name for XSS injection in case it's not properly sanitized by the API
								currentSong = currentSong.replaceAll('<', '&lt;');
								currentSong = currentSong.replaceAll('>', '&gt;');
								currentSong = currentSong.replaceAll('"', '&quot;');
								currentSong = currentSong.replaceAll('\'', '&#39;');
								currentSong = currentSong.replaceAll('/', '&#x2F;');
								currentSong = currentSong.replaceAll('\\', '&#x5C;');
								currentSong = currentSong.replaceAll('\n', '<br>');
								currentSong = currentSong.replaceAll('\r', '<br>');
								// sanitized
								currentSong = currentSong.replaceAll('\t', '&nbsp;&nbsp;&nbsp;&nbsp;');
								currentSong = "Radio BSMI FM";
								$( "#playerInfoPlaying" ).text(currentSong);
								songToHistory(currentSong);
							}
						});
					}
					
					function currentAnimation() {
						animationTimerTime++;
						if (animationTimerTime === 10) {
							animationTimerTime = 0;
						}
					}
					
					document.getElementById('playerAbout').title = "MagicD3VIL's Radio Player\nLicensed under the Academic Free License version 3.0\nCopyright (c) 2021 Michael Slíva <michael@sliva.dev>";
				</script>
			<!-- END MagicD3VIL's Radio Player -->
			
<h1>{{ .Title }}</h1>			
			
<div class="site-nav">
    {{ range .Site.Menus.navs }}
    <a href="{{ .URL }}">
        <img src="{{ .Params.img }}" alt="">
        {{ .Name }}
    </a>
    {{ end }}
</div>


<style type="text/css">
   /*body { background: black !important; }  Adding !important forces the browser to overwrite the default style applied by Bootstrap */

.center_home {
    top: 20%;
}
#MagicPlayer {

    background-color: red;

}
</style>

</center>